@theme {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-danger: var(--color-danger);
  --color-accent: var(--color-accent);
  --color-background: var(--color-background);
}
